<nav>
        <div class="container">
            <ul>
                <li> <h1>Home</h1></li>
                
            </ul>
        </div>
    </nav>
    <br><br>
{{#each posts2}}
<div class="post">
    <h2><a href="/posts/{{id}}">{{title}}</a></h2>
    <p>{{content}}</p>
    <p>Posted By: {{username}}</p>
</div>
{{/each}}
